<footer>
    <br />
    <br />
    <p>
    POKEMON<br />
    Gotta Catch 'Em All
    </p>
    <br>
    <div class="social-icons">
        <a href="https:github.com/KenLorenz" target="_blank" class="icon-link">
            <i class="fab fa-github"></i>
        </a>

        <a href="https://facebook.com/Ken122846" target="_blank" class="icon-link">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://instagram.com/youraccount" target="_blank" class="icon-link">
            <i class="fab fa-instagram.com"></i>
        </a>
        <a href="https://twitter.com/youraccount" target="_blank" class="icon-link">
            <i class="fab fa-twitter.com"</i>
        </a>
    </div>
    <p>
     &copy; 2023 Pokemon All Rights Reserved.
    </p>
</footer>
