{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>Pokemon | Collection</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}

    {% block content %}
    <!--COLLECTION-->
    
    <main>
      <a href="{% url 'collection-add' %}" class="btn btn-outline-primary" id="add-btn">Add New Collection</a><br>
    <section class="collection-container">
      <table class="styled-table">
        <tbody>
          <tr>
            <th>Trainer</th>
            <th>Pokemon Card</th>
            <th>Collection Date</th>
            <th>Action</th>
          </tr>

            {% for x in collection %}
          <tr>
            <td>{{ x.trainer }}</td>
            <td>{{ x.card }}</td>
            <td>{{ x.collection_date }}</td>
            <td>
              <a href="collection_list/{{ x.id }}">Edit</a> |
              <a href="collection_list/{{ x.id }}/delete" >Delete</a>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
    </section>
  </main>
  <div>
    {% include 'includes/pagination.html' %}
  </div>
  {% endblock %}
  {% include 'includes/footer.html' %}
  </body>
</html>
