{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>Pokemon | Pokemon Card</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}

    {% block content %}

    
    <main>
      <section class="cards-container">
        <a href="{% url 'pokemoncard-add' %}" class="btn btn-outline-primary">Add New Pokemon Card</a><br>
        {% for x in pokemoncards %}
        <div class="card-box">
          <div class="card">
            <div class="card-type" id="{{ x.card_type }}">
              <div class="card-image" id="{{ x.card_type }}-img">
                <img
                  src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{ x.card_number_img }}.png"
                  alt="{{ x.name }}"
                />
              </div>
              
              <div class="card-name">
                <h2 class="sbs">{{ x.name }}</h2>
                <h2 class="sbs" id="card-number">{{ x.card_number_main }}</h2>
                <hr />
              </div>
              <div class="card-rarity">
                <h3 class="rarity">Rarity:</h3>
                <h3 class="rarity" id="rare-text">{{ x.rarity }}</h3>
              </div>
              <table class="card-stats">
                <tbody>
                  <tr>
                    <th>HP:</th>
                    <td>{{ x.hp }}</td>
                  </tr>
                  <tr>
                    <th>Card Type:</th>
                    <td>{{ x.card_type }}</td>
                  </tr>
                  <tr>
                    <th>Attack:</th>
                    <td>{{ x.attack }}</td>
                  </tr>
                  <tr>
                    <th>Description:</th>
                    <td>{{ x.description }}</td>
                  </tr>
                  <tr>
                    <th>Weakness:</th>
                    <td>{{ x.weakness }}</td>
                  </tr>
                  <tr>
                    <th>Abilities:</th>
                    <td>{{ x.abilities }}</td>
                  </tr>
                  
                </tbody>
              </table>
              <hr />
              
              <a href="pokemoncard_list/{{ x.id }}">Edit</a> |
              <a href="pokemoncard_list/{{ x.id }}/delete" >Delete</a>
              
            </div>
          </div>
        </div>
        {% endfor %}

    </main>
        

        {% endblock %}
        
        {% include 'includes/footer.html' %}
  </body>
</html>
