{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto Slab' rel='stylesheet'>
    <title>Pokemon | Trainers</title>
  </head>
  <body>
    {% include 'includes/navbar.html' %}
    {% block content %}

    <!--TRAINERS-->
    
    <main>
    <a href="{% url 'trainer-add' %}" class="btn btn-outline-primary">Add New Trainer</a><br>
    <section class="trainers-container">
      <table class="styled-table">
        
        <tbody>
          <tr>
            <th>Trainer Name</th>
            <th>Birthdate</th>
            <th>Location</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
          {% for x in trainer %}
          <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.birthdate }}</td>
            <td>{{ x.location }}</td>
            <td>{{ x.email }}</td>
            <td>
              <a href="trainer_list/{{ x.id }}">Edit</a> |
              <a href="trainer_list/{{ x.id }}/delete" >Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </section>
    
  </main>
    <div>
      {% include 'includes/pagination.html' %}
    </div>
    {% endblock %}
    {% include 'includes/footer.html' %}
  </body>
</html>
